{% extends "filmapp/index.html" %}

{%block title%}{{name.name}} {%endblock%}

{% block content %}

{{name.name}} реж {{name.producer_name}}
    <main>
    <p>«Джанго освобождённый» (англ. Django Unchained) — художественный фильм 2012 года режиссёра Квентина Тарантино </p>
    <p>в жанре спагетти-вестерн[3][4][5][6] с элементами комедии. Главные роли исполнили Джейми Фокс, Кристоф Вальц, </p>
    <p>Леонардо Ди Каприо, Керри Вашингтон и Сэмюэл Л. Джексон.</p>
    </main>
{% endblock%}
{% block footer %}
    <h5>Ссылки:</h5>
        <ul>
            <li> Спагетти-вестерн от Тарантино: «Джанго освобождённый»</li>
            <li> В российский прокат выходят «Джанго освобождённый» и «Охотники на ведьм»</li>
            <li> Джанго неопределённый</li>
        </ul>
{% endblock %}

