{% extends "filmapp/index.html" %}

{%block title%}{{name.name}}{%endblock%}

{% block content %}

    <main>
        <p>«Малхолланд драйв» (англ. Mulholland Drive, Mulholland Dr.) — американский психоделический триллер, снятый Дэвидом Линчем по собственному сценарию. </p>
        <p> В главных ролях снялись Наоми Уоттс, Лаура Хэрринг и Джастин Теру. </p>
    </main>
{% endblock%}
{% block footer %}
    <h5>Ссылки:</h5>
        <ul>
            <li> David Sterritt. (2001-10-12). «Lynch’s twisty map to 'Mulholland Drive'». The Christian Science Monitor: p. 15.»</li>
            <li> Gary Arnold. (October 12, 2001). «Smoke and mirrors; Director Lynch keeps actor Theroux guessing». The Washington Times. p. B5</li>
            <li> Graham Fuller. (November 2001). «Naomi Watts: Three Continents Later, An Outsider Actress Finds her Place», Interview, Vol. 11, p. 132—137.</li>
        </ul>
{% endblock %}
