h3 {
  padding-top: 60px;
  width: 260px;
  font-family: "Georgia", serif;
  font-size: 36px;
  line-height: 36px;
  color: black;
}

header {
  color: black;
  width: 300px;
  font-family: "Georgia", serif;
  font-size: 30px;
  line-height: 30px;
}

body {
  padding: 0 30px;
  font-size: 14px;
  line-height: 22px;
  font-family: "Georgia", serif;
  color: #222222;
}